#list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-wrap {
  width: 100%;
  max-width: 900px;
  max-height: 550px;
   overflow-x: auto;
  overflow-y: auto;

  -webkit-overflow-scrolling: touch; /* ⭐ 모바일 부드러운 스크롤 */
}
