/* 리스트 */
#list {
  width: 100%;
  display: block;
}

/* 테이블 */
.table-wrap {
  width: 100%;
  max-width: 900px;
  max-height: 550px;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  margin: 0 auto;
}

/* 날짜 */
#startDate,
#endDate {
  width: 130px;
  padding: 6px;
  font-size: 14px;
}

/* 모바일 */
@media (max-width: 600px) {
  #startDate,
  #endDate {
    width: 110px;
    font-size: 13px;
  }
}

/* 인쇄 */
@media print {
  body * {
    visibility: hidden;
  }

  #printArea,
  #printArea * {
    visibility: visible;
  }

  #printArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  table {
    width: 100%;
  }
}
